<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TalenCrafter | find jobs</title>

    <!-- css file -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/candidate/findjob.css">
    <!-- <link rel="stylesheet" href="../css/candidate/userhome.css"> -->

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Montserrat&family=Poppins&family=Roboto&display=swap" rel="stylesheet">

    <!-- google icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

     <!-- font awesome cdn  -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

     <!-- web icon -->
    <link rel="icon" href="../icons/logo.png" type="image/x-icon">

</head>
<body>
    <!-- nav bar -->
    <nav>
        <div class="title">
            <img src="../images/logo1.png" alt="logo" class="logo">
        </div>
        <div class="login-options">
            <a href="/"><span class="material-symbols-outlined">
                home
            </span><p>Home</p></a>
            <a href="/candidate/candidate_login" id="login-btn"><span class="material-symbols-outlined">
                logout
                </span><p>Login/Register</p></a>
        </div>
    </nav>

    <main>
        <h2>Find your jobs here</h2>
        <p class="hdr">*Enter your details to find your perfect job opportunities here.</p>
        <!-- <form action="/upload" method="post" id="resumeform" enctype="multipart/form-data">
            <div class="label">
                <label for="resumeupload">Upload resume<span>*</span></label>
                <input type="file" name="pdfFile" reqired>
            </div>
            <button>Extract skills</button>
        </form> -->
        <p class="instruct">*Any one field is mandatory except skills</p>
        <form action="/candidate/findjob" method="post" class="generalform">
            <label for="specialization">Enter your specialization</label>
            <input type="text" name="specialization" placeholder="Eg:Web development">
            <label for="companyName">Company Name</label>
            <input type="text" name="companyName" placeholder="Eg:Zoho">
            <div class="skillsbox">
                <label for="skills">Skills <span>*</span></label>
                <div class="oneline">
                    <select name="skill" id="skilloptions" required>
                        <option value="Python">Python</option>
                        <option value="Java">Java</option>
                        <option value="C">C</option>
                        <option value="C++">C++</option>
                        <option value="Kotlin">Kotlin</option>
                        <option value="JavaScript">JavaScript</option>
                        <option value="Express JS">Express JS</option>
                        <option value="Node JS">Node JS</option>
                        <option value="Mongo DB">Mongo DB</option>
                        <option value="React JS">React JS</option>
                        <option value="Next JS">Next JS</option>
                        <option value="Ruby">Ruby</option>
                        <option value="TypeScript">TypeScript</option>
                        <option value="HTML">HTML</option>
                        <option value="CSS">CSS</option>
                        <option value="Angular">Angular</option>
                        <option value="Vue JS">Vue</option>
                        <option value="Flask">Flask</option>
                        <option value="DJango">DJango</option>
                        <option value="Swift">Swift</option>
                        <option value="Flutter">Flutter</option>
                        <option value="Git">Git</option>
                        <option value="Github">Github</option>
                        <option value="Data Analysis">Data Analysis</option>
                        <option value="Machine Learning">Machine Learning</option>
                        <option value="Aritficial Intelligence">Aritficial Intelligence</option>
                        <option value="Data Visualization">Data Visualization</option>
                        <option value="AR/VR">AR/VR</option>
                        <option value="Linux">Linux</option>
                        <option value="Ethical Hacking">Ethical Hacking</option>
                        <option value="AWS">AWS</option>
                        <option value="Microsoft Azure">Microsoft Azure</option>
                        <option value="Cloud Computing">Cloud Computing</option>
                        <option value="Postgresql">Postgresql</option>
                        <option value="Google Cloud Platform">Google Cloud Platform</option>
                        <option value="MySql">MySQL</option>
                        <option value="SQL">SQL</option>
                        <option value="PHP">PHP</option>
                        <option value="DBMS">DBMS</option>
                        <option value="Data structure and Algorithm">Data structure and Algorithm</option>
                        <option value="Docker">Docker</option>
                        <option value="TCP/IP">TCP/IP</option>
                        <option value="Network Security">Network Security</option>
                        <option value="Information Security">Information Security</option>
                        <option value="IOT">IOT</option>
                        <option value="Design Thinking">Design Thinking</option>
                        <option value="Computer Networks">Computer Networks</option>
                        <option value="Graphics Design">Graphics Design</option>
                        <option value="Blockchain">Blockchain</option>
                    </select>
                    <% if(locals.userData){ %>
                        <input type="hidden" name="array" value='<%= userData ? userData.skills : "" %>' class="hiddeninp">
                    <% }else{ %>
                    <input type="hidden" name="array" value="" class="hiddeninp">
                    <% } %>
                    <input type="hidden" name="deleteItem" value="" class="hiddendelete">
                    <p class="addbtn">Add</p>
                </div>
                <% if(locals.userData){%>
                    <% if(userData.skills){ %>
                    <div class="skillopt">
                        <% userData.skills.forEach((skill)=>{ %>
                            <div class="skill1">
                                <p class="skill"><%= skill %></p>
                                <span class="material-symbols-outlined" id="closebtn">
                                    close
                                </span>
                            </div>
                        <% }) %>
                    </div>
                    <% } %>
                <% } else{%>
                
                <div class="skillopt">

                </div>
                <% } %>
            </div>
            <label for="location">Location</label>
            <input type="text" name="location" placeholder="Eg:India">
            <button>Find<span class="material-symbols-outlined">
                search
            </span></button>
        </form>

        <% if(locals.details){ %>
            <h2>Jobs based on your search</h2>
            <% if(details.length<1){ %>
                <div class="nofound">
                    <h4 class="nofoundh4">No jobs found</h4>
                </div>
                
            <% } %>
            <div class="joblists">
                <% if(locals.details){ %>
                    <% details.forEach((job)=>{ %>
                        <div class="jobs">
                            <div class="logos">
                                <img src="../images/zoho.jpg" alt="">
                            </div>
                            <p class="actively"><span class="material-symbols-outlined">
                                trending_up
                            </span>Actively Hiring</p>
                            <h3><i class="fa-solid fa-briefcase"></i><%= job.title %></h3>
                            <p class="name"><%= job.companyname %></p>
                            <p class="where"><span class="material-symbols-outlined">
                                location_on
                            </span><%= job.location %></p>
                            <p class="money"><span class="material-symbols-outlined">
                                currency_rupee
                            </span><%= job.stipend %>/month</p>
                            <div class="details">
                                <p class="noofapp"><%= job.applicants ? job.applicants : "0" %> Applicants</p>
                                <p class="startdate"><span class="material-symbols-outlined">
                                    calendar_month
                                </span><%= job.enddaate %></p>
                                <a href="/candidate/jobdetail/detail/<%=job.job_id%>" class="viewdetail">View Details</a>
                            </div>
                        </div>
                    <% }) %>
                <% } %>
            </div>
        <% } %>
    </main>

    <!-- footer   -->
    <footer>
        <div class="contactdetail">
            <div class="leftfooter">
                <p><i class="fa-solid fa-envelope"></i>aravind364kk30@gmail.com</p>
                <p><i class="fa-solid fa-phone"></i>+91 9342610087</p>
            </div>
            <div class="rightfooter">
                <p>Connect with social media</p>
                <div class="icons">
                    <a href=""><img src="../icons/instagram.png" alt="" loading="lazy"></a>
                    <a href=""><img src="../icons/facebook.png" alt="" loading="lazy"></a>
                    <a href=""><img src="../icons/linkedin.png" alt="" loading="lazy"></a>
                    <a href=""><img src="../icons/youtube.png" alt="" loading="lazy"></a>
                </div>
            </div>
        </div>
        <p id="copyright">Copyright &copy; 2024 | All rights reserved.</p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="../../js/jobpost.js"></script>
</body>
</html>